<?xml version="1.0" encoding="utf-8" ?>

<beans>
    <bean id="fruitDAO" class="com.yzp.fruit.dao.impl.FruitDAOImpl" />
    <bean id="fruitService" class="com.yzp.fruit.service.impl.FruitServiceImpl" >
        <property name="fruitDAO" ref="fruitDAO"/>
    </bean>
    <bean id="fruit" class="com.yzp.fruit.controllers.FruitController">
        <property name="fruitService" ref="fruitService"/>
    </bean>
</beans>